
body{
    background: linear-gradient(to bottom, #ffccff, #6829a8);
    font-family: sans-serif;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

.card{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(255,255,255,0.8);
    padding: 40px;
    text-align: center; 
    animation: fadeIn 2s ease-in-out, neon 1.5s infinite alternate;
}

@keyframes fadeIn {
    from { opacity: 0;
           transform: scale(0.8);
    }

    to { opacity: 1;
        transform: scale(1); 
    }
}

@keyframes neon {
    from {
        box-shadow: 
            0 0 10px #ff33cc,
            0 0 20px #ff66ff, 
            0 0 30px #cc33ff, 
            0 0 40px #9933ff;
        ;
    }

    to {
        box-shadow: 
            0 0 20px #9933ff, 
            0 0 30px #cc33ff, 
            0 0 40px #ff66ff, 
            0 0 50px #ff33cc;
        ;
    }
}

h1{
    color: #ff33cc;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #ffe6ff;
}

.form{
    margin-top: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 18px;
    color: #cc33ff;
    font-weight: bold;   
}

input[type="text"]{
    width: 90%;
    padding: 12px;
    border-radius:10px;
    border: 2px solid #ff66ff;
    box-shadow: insert 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
}

input[type="text"]:focus{
    border: 2px solid #cc22ff;
    outline: none;
}

button{
    background-color: #cc33ff;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

button:hover{
    background-color: #ff66ff;
    transform: scale(1.05);
}

button:active{
    background-color: #9933ff;
    transform: scale(0.95);
}

#result{
    margin-top: 20px;
    font-size: 24px;
    color: #cc33ff;
    font-weight: bold;
    text-shadow: 1px 1px #ff66ff;
}